<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>汉字转拼音</title>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <script src="/javascripts/jquery.min.js"></script>
</head>
<body>
		需要转换的汉字
		<input type="text" id="name" onblur = "toPinyin()" />
		<div id="result"></div>
		<script>
			function toPinyin(){
					$.ajax({
						type: "GET",
						url: "/trans?p="+$('#name').val(),
						success: function(data) {
							var tmp = data.split(' ');
    					var xing = tmp[0];
    					var ming = '';
    					for(var i=1;i<tmp.length;i++){
    						ming = ming + tmp[i];
    					}
    					$('#result').html(xing+" "+ming);
						}
					});	
			}
		</script>
</body>
</html>