<footer id="footer">
    <div class="top">
        <div class="block left">
            <h2>友情链接</h2>
            <hr>
            <ul class="ul-left">
                <li onclick="window.open('http://www.youlunshidai.com')">邮轮时代</li>
                <li onclick="window.open('http://www.huiyoulun.com')">荟邮轮</li>
                <li onclick="window.open('http://jianianhua.youlunshidai.com')">嘉年华邮轮时代</li>
                <li onclick="window.open('https://117.121.25.228:1337')">荟邮智慧云</li>
            </ul>
            <ul>
                <li onclick="window.open('http://116.228.40.27')">上海城投</li>
                <li onclick="window.open('http://www.4000191177.com/')">外卖侠</li>
                <li onclick="window.open('http://aiyouchuan.com/')">爱游船</li>
            </ul>
        </div>
        <div class="block right">
            <h2>联系方式</h2>
            <hr>
            <ul>
                <li>E-mail：114413511@qq.com</li>
                <li>QQ / 微信: 114413511</li>
                <li>
                    <div class="qrcode-left">
                        微信公众号 : 
                        <div><img class="footer_author" src="/images/qrcode.png" /></div>
                    </div>
                    <div class="qrcode-left">
                                                移动版 :  
                        <div class="bg-qrcode"><img class="footer_author" src="/images/mobileqrcode.png" /></div>
                    </div> 
                    <div class="qrcode-left">
                        BBShow :  
                        <div class="bg-qrcode"><img class="footer_author" src="/images/qrcode_for_gh_fca406be0378_430.jpg" /></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="bottom">
        Copyright © 隔壁陈叔叔
    </div>
</footer>