<div class="panel panel-default">
   <div class="panel-heading">
      <h3 class="panel-title">菜单</h3>
   </div>
   <div class="panel-body">
      <ul class="list-group">
         <li class="list-group-item" style="cursor:pointer" onclick="window.location='/_postlist';">文章管理</li>
      </ul>
   </div>
</div>