<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>陈叔叔博客</title>
<meta name="baidu-site-verification" content="Ll24aY3Q31" />
<link href="/stylesheets/layout.css" rel="stylesheet" type="text/css" />
<link href="/stylesheets/flexslider.css" rel="stylesheet" type="text/css" />
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/picview.js"></script> 
<script type="text/javascript" src="/javascripts/datapicker.js"></script>
<script type="text/javascript" src="/javascripts/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="/javascripts/cookiesoperator.js"></script>
<link href="http://cdn.bootcss.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
<link href="http://cdn.bootcss.com/bootstrap/2.3.2/css/bootstrap-responsive.min.css" rel="stylesheet">
    <style type="text/css" media="screen">
        body {-moz-user-select: none;-webkit-user-select: none;}
    </style>
    <script type="text/javascript">
        document.onselectstart = function(e) {
            //return false;
        }
        document.oncontextmenu = function(e) {
            //return false;
        }
    </script>
</head>
<body>